%li
  %h1
    = link_to article.title, article_path(article)
  %p.subtitle
    = l(article.publication_date, :format => :long)
  %p
    = truncate(article.content, :length => 255, :separator => '...').html_safe
