.sec_menu
  .sec_menu_content
    .social_header_links
      .follow_us Follow us on:
      %ul.about_social_network
        %li
          %a.twitter_header{:href => "http://www.Twitter.com/username"}