/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
html5doctor.com/html-5-reset-stylesheet/
*/
/* line 22, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-boilerplate-plugin-0.1.0/stylesheets/boilerplate/reset/_utilities.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 33, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-boilerplate-plugin-0.1.0/stylesheets/boilerplate/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-boilerplate-plugin-0.1.0/stylesheets/boilerplate/reset/_utilities.scss */
nav ul {
  list-style: none;
}

/* line 39, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-boilerplate-plugin-0.1.0/stylesheets/boilerplate/reset/_utilities.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-boilerplate-plugin-0.1.0/stylesheets/boilerplate/reset/_utilities.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-boilerplate-plugin-0.1.0/stylesheets/boilerplate/reset/_utilities.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 46, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-boilerplate-plugin-0.1.0/stylesheets/boilerplate/reset/_utilities.scss */
ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 48, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-boilerplate-plugin-0.1.0/stylesheets/boilerplate/reset/_utilities.scss */
mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 50, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-boilerplate-plugin-0.1.0/stylesheets/boilerplate/reset/_utilities.scss */
del {
  text-decoration: line-through;
}

/* line 52, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-boilerplate-plugin-0.1.0/stylesheets/boilerplate/reset/_utilities.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
/* line 55, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-boilerplate-plugin-0.1.0/stylesheets/boilerplate/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 57, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-boilerplate-plugin-0.1.0/stylesheets/boilerplate/reset/_utilities.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 59, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-boilerplate-plugin-0.1.0/stylesheets/boilerplate/reset/_utilities.scss */
input, select {
  vertical-align: middle;
}

/* More semantic classes. Example:
 *   h1 { @extend .large; @extend .caps; }
 */
/* line 10, ../../app/stylesheets/screen.scss */
+ boilerplate
header {
  height: 300px;
}
