.footer
  .footer_content
    .footer_left
      %p ©  Lolita   |    all rights reserved
    / .footer_left
    .footer_right
      %p
        %a{:href => "#"}> privecy statement
        \   |   
        %a{:href => "#"} terms & conditions
    / .footer_right
  / .footer_content