.header
  .header_content
    %a{:href => "http://zebramash.com/clients/lolita", :title => "Lolita demo"}
      = image_tag('uploads/lolitaogo.png', :alt => 'Lolita', :class => 'logo png')
    .main_menu
      %ul#menu-mainmenu
        %li#menu-item-11.menu-item.menu-item-type-post_type.menu-item-object-page
          %a{:href => "about.html"} About
        %li#menu-item-12.menu-item.menu-item-type-post_type.menu-item-object-page
          %a{:href => "news.html"} News
      .clear