.header
  .header_content
    = link_to root_path,  :title => "Lolita demo" do
      = image_tag('lolita-logo.png', :alt => 'Lolita', :class => 'logo png')
    .main_menu
      %ul#menu-mainmenu
        - menu = ApplicationMenu.get_menu_root('header')
        - menu && ApplicationMenu.get_menu_items(menu, request) do |item, active|
          %li.menu-item.menu-item-type-post_type.menu-item-object-page{:class => (active ? "active" : "")}
            = link_to item.name, item.url
            - if active && item.children.any?
              - content_for :sec_menu do
                = render :partial => 'shared/sec_menu', :locals => {:menu => item}
      .clear
