.header
  .header_content
    = link_to root_path,  :title => "Lolita demo" do
      = image_tag('lolita-logo.png', :alt => 'Lolita', :class => 'logo png')
    .main_menu
      %ul#menu-mainmenu
        %li#menu-item-11.menu-item.menu-item-type-post_type.menu-item-object-page
          = link_to t('.About'), "#"
        %li#menu-item-12.menu-item.menu-item-type-post_type.menu-item-object-page
          = link_to t('.News'), "#"
      .clear
