.sec_menu
  .sec_menu_content
    .social_header_links
      .follow_us= t('.Follow us on')
      %ul.about_social_network
        %li
          = link_to '', "http://www.Twitter.com/username", :class => 'twitter_header'
