.sec_menu
  .sec_menu_content
    %ul.menu
      - menu && menu.children.each_with_index do |item, index|
        - active = item.active?(request)
        %li.menu-item{:class => (active ? "active" : "")}
          = link_to item.name, item.url

