%div{:id => "slide#{index+1}", :class => (index == 0 ? "tabb displayslide" : "tabb displaynone")}
  .project_table
    .project_screens.right
      .phones.parallax
        %div
          = image_tag(picture.asset.main, :alt => "Picture") if picture.asset?
    .project_text_right
      %h1= picture.title
      %p= picture.description

