%h1=t(".top.title")
%p=t(".top.text")
.two-columns
  .left
    %h2=t(".main-columns.left.title")
    %p=t(".main-columns.left.text")
  .right
    %h2=t(".main-columns.right.title")
    %p=t(".main-columns.right.text")
  .clear
