<h1>Welcome to Lolita Active Record demo page</h1>
<br/>
<ul>
  <li>
    <h2>
      <% unless user_signed_in? %>
        <%=link_to "Sign in", new_user_session_path %>
      <% else %>
        <%=link_to "To Lolita", lolita_documents_path%>
      <% end %>
    </h2>
  </li>
  <li><%=link_to "Preview of Documents", documents_path%></li>
  <li><%= link_to "Preview of Posts", posts_path %></li>
</ul>

<p>This Demo app source is available on <a href="https://github.com/ithouse/lolita_active_record_demo">github</a>.</p>