<h1>Documents</h1>
<div>
  <% @documents.each do |document| %>
    <article>
      <h2><%=raw(document.title)%></h2>
      <% if document.files.any? %>
        <ul>
          <% document.files.each do |file| %>
            <li>
              <% if [".jpg",".png"].include?(File.extname(file.asset.url)) %>
                <%= image_tag file.asset.url,:style=>"width:220px;height:160px" %>
              <% else %>
                <%=link_to file.name, file.asset.url%>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </article>
  <% end %>
</div>