*{
 margin:0;
 padding:0;
 }
 
a{
 outline: none;
 }
 
p, cite, .the_process, .one_column .subtitle, .one_column .services_we_offer p{
 margin-bottom: 21px;
 }
 
textarea{
 resize: none;
 }
 
.large_box p{
 margin-bottom:0;
 }
 
.footer p{
 margin-bottom: 0;
 }
 
.clear_container{
 clear: both; 
 }
 
.header_content, .project, .sec_menu_content, .content, .content_home, .footer_content, .category_illustration{
 padding: 0 36px 0 36px;
 width: 888px;
 }
 
.header{
 height: 70px;
 width: 100%;
 background: url(image-path('header_bg.jpg')) repeat-x;
 }
 
.header_content{
 height: 70px;
 margin: 0 auto;
 }
 
.latest_project{
 height: 421px;
 width: 100%;
 }
 
.project{
 height: 421px;
 margin: 0 auto;
 }
 
.secondary_page_bg{
 height: 159px;
 }
 
.category_illustration{
 height: 159px;
 margin: 0 auto;
 }
 
.sec_menu{
 height: 57px;
 width: 100%;
 background: url(image-path('sec_menu_bg.jpg')) repeat-x;
 }
 
.sec_menu_content{
 height:57px;
 margin: 0 auto;
 }
 
.content{
 height: auto;
 margin: 0 auto;
 }
 
.content_home{
 height: auto;
 margin: 0 auto;
 }
 
.content_left{
 width: 268px;
 float: left;
 padding: 47px 36px 0 0;
 }
 
.secondary_pages_content{
 padding: 47px 0 0 0;
 }
 
.content_middle{
 width: 299px;
 background: url(image-path('content_middle_bg.gif')) top no-repeat #ffffff;
 float: left;
 padding: 47px 35px 0 27px;
 min-height: 210px;
 }
 
.content_right{
 width: 193px;
 float: left;
 padding: 47px 0 0 30px;
 }
 
.footer{
 width: 100%;
 height: 85px;
 background: url(image-path('footer_bg.gif')) #ffffff repeat-x;
 margin-top: 39px;
 }
 
.footer_content{
 height: 66px;
 margin: 0 auto;
 padding: 19px 36px 0 36px;
 }
 
.footer_left{
 float: left;
 }

.footer_right{
 float: right;
 }
 
.logo{
 margin: 18px 0 0 0;
 float: left;
 }
 
.main_menu{
 float: right;
 margin: 29px 0 0 0;
 }
 
.main_menu li{
 float: left;
 margin: 0 20px 0 20px;
 }
 
.main_menu li .selected_middle a:hover{
 cursor: default;
 }
 
.main_menu li.selected_page{
 margin: 0 7px 0 7px;
 }
 
.homepage{
 display: block;
 width: 14px;
 height: 13px;
 background: url(image-path('home.png')) no-repeat;
 float: left;
 }
 
.homepage:hover{
 width: 14px;
 height: 13px;
 background: url(image-path('home.png')) no-repeat;
 background-position: 0 -13px;
 }
 
.selected_page .homepage:hover{
 background: url(image-path('home.png')) no-repeat;
 cursor: default;
 }
 
.selected{
 position: relative;
 top: -7px;
 }
 
.selected_left{
 width: 13px;
 height: 30px;
 background: url(image-path('selected_left.png')) no-repeat;
 float: left;
 }
 
.selected_middle{
 height: 30px;
 background: url(image-path('selected_middle.jpg')) repeat-x;
 float: left;
 padding: 7px 0 0 0;
 }
 
.selected_right{
 width: 13px;
 height: 30px;
 background: url(image-path('selected_right.png')) no-repeat;
 float: left;
 } 
 
.view_proiect{
 display: block;
 width: 140px;
 height: 32px;
 background: url(image-path('view_project.png')) no-repeat;
 margin-top: 34px;
 }
 
.view_proiect:hover{
 background: url(image-path('view_project.png')) no-repeat;
 background-position: 0 -32px;
 }
 
.project_table, .sec_menu table{
 height: 100%;
 }
 
.project_text_left{
 width: 360px;
 float: left;
 margin-top: 98px;
 }
 
.project_text_right{
 width: 360px;
 float: right;
 margin-top: 110px;
 }
 
.project_screens{
 float: left;
 margin-top: 16px;
 }
 
.project_table h1{
 margin-bottom: 30px; 
 }
 
h1{
 margin-bottom: 7px; 
 }
 
h2, .content_home h5{
 margin-bottom: 4px;
 }
 
.content_home .widget{
	margin-bottom:25px;
}
 
.content_home .widget .services_we_offer {
	margin-left:0px!important;
}
 
h5{
 margin: 7px 0 10px 0;
 }
 
h6.testimonial_name{
 float: right;
 }
 
.previous_button{
 height: 42px;
 width: 96px;
 float: left;
 padding-top: 15px;
 }
 
.next_button{
 height: 42px;
 width: 71px;
 float: right;
 padding-top: 15px;
 }
 
.project_bubles{
 float: left;
 padding-top: 16px;
 margin-left: 311px;
 }
 
.project_bubles li{
 float: left;
 }
 
.float_left{
 float: left;
 }
 
.previous{
 display: block;
 width: 96px;
 height: 28px;
 background: url(image-path('previous.png')) no-repeat;
 position: relative;
 top: -2px;
 }
 
.previous:hover{
 background: url(image-path('previous.png')) no-repeat;
 background-position: 0 -29px;
 }
 
.next{
 display: block;
 width: 71px;
 height: 28px;
 background: url(image-path('next.png')) no-repeat;
 position: relative;
 top: -2px;
 }
 
.next:hover{
 background: url(image-path('next.png')) no-repeat;
 background-position: 0 -29px;
 }
 
.project_pages li{
 display: inline;
 width: 500px;
 } 
 
.page{
 display: block;
 width: 19px;
 height: 20px;
 background: url(image-path('page.png')) no-repeat;
 }
 
.page:hover{
 background: url(image-path('page.png')) no-repeat;
 background-position: 0 -20px; 
 }
 
.rss{
 display: block;
 height: 15px;
 background: url(image-path('rss_icon.jpg')) right no-repeat;
 width: 175px;
 padding: 9px 0 0 0;
 }
 
.newspaper_icon{
 float: left;
 margin-right: 13px;
 }
 
.cite_icon{
 display: block;
 float: left;
 position: relative;
 left: -8px;
 }
 
cite{
 display: block;
 float: left;
 width: 90%;
 }
 
.social_networking_link{
 float:left;
 margin-top: 9px;
 }

.parallax{
 position: relative; 
 width: 200px; 
 height: 350px;
 }
 
.left .phones{
 position: relative; 
 left: 80px; 
 }
 
.right .phones{
 position: relative; 
 left: 0px; 
 }
 
.web_projects{ 
 position: relative;
 left: 90px; 
 }
 
.punchline_about{
 margin: 0 0 0 42px;
 padding-top: 51px;
 float: left;
 }
 
.punchline_about p{
 margin-top: 11px;
 margin-left: 39px;
 }
 
.punchline_services{
 margin: 0 0 0 96px;
 padding-top: 51px;
 float: left;
 }
 
.punchline_services p{
 margin-top: 11px;
 margin-left: 47px;
 }
 
.punchline_contact{
 margin: 0 0 0 142px;
 padding-top: 51px;
 float: left;
 }
 
.punchline_contact p{
 margin-top: 11px;
 margin-left: 47px;
 }
 
.punchline_work{
 margin: 0;
 padding-top: 51px;
 float: left;
 position: relative;
 }
 
.punchline_work p{
 margin-top: 11px;
 margin-left: 112px;
 }
 
.drawing_tablet{
 float: right;
 }
 
.phone{
 float: right;
 position: relative;
 right: 33px;
 }
 
.hleft{
 float: left;
 }
 
.hright{
 float: right;
 }
 
.mouse{
 float: right;
 position: relative;
 top: 17px;
 }
 
.laptop{
 float: left;
 margin-top: 46px;
 }
 
.text{
 width: 365px;
 margin: 0px;
 float: left;
 }
 
.full_width{
 margin: 0px;
 float: left;
 margin-left:95px;
}

.services_we_offer{
 width: 322px;
 float: left;
 margin-left: 62px;
 }
 
.blog_right .services_we_offer{
 width:auto;
 height:auto;
 float: left;
 margin-left: 62px;
 }
 
.one_column{
 margin: 0px;
 }
 
.one_column p {
 margin: 0px;
 }
 
.box_top{
 width: 322px;
 height: 5px;
 background: url(image-path('third_menu_top.jpg')) no-repeat;
 }
 
.box_middle{
 width: 322px;
 background: url(image-path('third_menu_middle.jpg')) repeat-y;
 }
 
.box_bottom{
 width: 322px;
 height: 5px;
 background: url(image-path('third_menu_bottom.jpg')) no-repeat;
 }
 
.blog_categories_top, .blog_right .widget .box_top, .content_home .widget .box_top{
 width: 280px;
 height: 5px;
 background: url(image-path('blog_categories_top.jpg')) no-repeat;
 }
.content_home .widget .box_top{
	background:none;	
}

.blog_categories_middle, .blog_right .widget .box_middle, .content_home .widget .box_middle{
 width: 280px;
 background: url(image-path('blog_categories_middle.jpg')) repeat-y;
 }
 
.content_home .widget .box_middle{
	background:none;	
	width:auto;
}
 
.blog_categories_bottom, .blog_right .widget .box_bottom, .content_home .widget .box_bottom{
 width: 280px;
 height: 5px;
 background: url(image-path('blog_categories_bottom.jpg')) no-repeat;
 }
.content_home .widget .box_bottom{
	background:none;	
}
.third_menu{
 margin: 0 11px 0 14px;
 }
 
.third_menu li{
 border-bottom: 1px solid #aeaeae;
 border-top: 1px solid #f0f0f0;
 }
 
.third_menu li.first{
 border-bottom: 1px solid #aeaeae;
 border-top: none;
 }
 
.third_menu li.last{
 border-bottom: none;
 border-top: 1px solid #f0f0f0;
 }
 
.third_menu li a {
 display: block;
 width: 277px;
 height: 34px;
 padding: 0 4px 0 13px;
 background: url(image-path('arrows_third_menu.png')) bottom right no-repeat;
 }
 
.blog_categories li a, .blog_right .widget .third_menu li a, .content_home .widget .third_menu li a{
 width: 227px;
 }
 
.third_menu li a:hover{
  background: url(image-path('arrows_third_menu.png')) top right no-repeat;
 }
 
.blog_right .services_we_offer{
	margin-left:0px;	 
}
 
.blog_right #wp-calendar {
	width:100%;
	margin-left:19px;
}


.box_middle .testimonials{
 padding: 13px 20px 13px 20px;
 }
 
 .content_home .box_middle .testimonials{
 padding: 0px 20px 13px 0px;
 }
 
.behance_header{ 
 display: block;
 width: 77px;
 height: 29px;
 background: url(image-path('behance_header.jpg')) top no-repeat;

 }
 
.flickr_header{ 
 display: block;
 width: 65px;
 height: 29px;
 background: url(image-path('flickr_header.jpg')) top no-repeat;

 }
 
.linkedin_header{ 
 display: block;
 width: 68px;
 height: 29px;
 background: url(image-path('linkedin_header.jpg')) top no-repeat;

 }
 
.facebook_header{ 
 display: block;
 width: 82px;
 height: 29px;
 background: url(image-path('facebook_header.jpg')) top no-repeat;

 }
 
.krop_header{ 
 display: block;
 width: 41px;
 height: 29px;
 background: url(image-path('krop_header.jpg')) top no-repeat;

 }
 
.twitter_header{ 
 display: block;
 width: 41px;
 height: 29px;
 background: url(image-path('twitter_header.jpg')) top no-repeat;

 }
 
.behance_header:hover{
 background: url(image-path('behance_header.jpg')) bottom no-repeat;
 }
 
.flickr_header:hover{
 background: url(image-path('flickr_header.jpg')) bottom no-repeat;
 }
 
.linkedin_header:hover{
 background: url(image-path('linkedin_header.jpg')) bottom no-repeat;
 }
 
.facebook_header:hover{
 background: url(image-path('facebook_header.jpg')) bottom no-repeat;
 }
 
.krop_header:hover{
 background: url(image-path('krop_header.jpg')) bottom no-repeat;
 }
 
.twitter_header:hover{
 background: url(image-path('twitter_header.jpg')) bottom no-repeat;
 }
 
.social_header_links{
 width: 650px;
 margin: 0 auto;
 }
 
.social_header_links a{
 margin-right: 21px;
 }
 
.about_social_network, .about_social_network li{
 float: left;
 }
 
.about_social_network{
 padding-top: 12px;
 }

.follow_us{
 float: left;
 margin-right: 31px;
 position: relative;
 top: 17px;
 }
 
.work_project{
 width: 280px;
 position: relative;
 float: left;
 margin: 8px 24px 0 0;
 }
 
.last_project{
 margin: 8px 0 0 0;
 float: right;
 }
 
.project_title{
 background: url(image-path('arrow_gray.png')) right no-repeat;
 padding: 0 25px 0 0;
 display: block;
 margin: 7px 0 11px 0;
 }
 
.project_title:hover{
 background: url(image-path('arrow_blue.png')) right no-repeat;
 }
 
.project_hover{
 display: block;
 width: 280px;
 height: 135px;
 position: absolute;
 z-index: 10;
 background: url(image-path('project_bg.png')) no-repeat;
 }
 
.work_project  img {
 padding:2px;	 
}
 
.project_hover:hover{
 background: url(image-path('project_hover.png')) no-repeat;
 }
 
.secondary_menu{
 width: 650px;
 margin: 0 auto;
 padding-top: 16px;
 }
 
.secondary_menu_services{
 width: 820px;
 }
 
.secondary_menu_contact{
 width: 837px;
 margin: 0;
 }
  
.secondary_menu li{
 float: left;
 margin: 0 25px 0 25px;
 }
 
.secondary_menu_services li{
 margin: 0 23px 0 23px;
 }

.secondary_menu li.sec_menu_selected{
 float: left;
 margin: 0 5px 0 5px;
 }
 
.sec_menu_selected_left{
 width: 18px;
 height: 32px;
 background: url(image-path('sec_menu_selected_left.jpg')) no-repeat;	
 float: left;
 }
 
.sec_menu_selected_middle{
 height: 27px;
 background: url(image-path('sec_menu_selected_middle.jpg')) repeat-x;
 float: left;
 padding: 7px 0 0 0;	
 }
 
.sec_menu_selected_right{
 width: 18px;
 height: 32px;
 background: url(image-path('sec_menu_selected_right.jpg')) no-repeat;	
 float: left;
 }
 
.sec_menu_selected{
 position: relative;
 top: -5px;
 }
 
.large_box{
 position: relative;
 left: -17px;
 }
 
.large_box_top{
 width: 784px;
 height: 10px;
 background: url(image-path('large_box_top.jpg')) no-repeat;
 }
 
.large_box_middle{
 width: 629px;
 background: url(image-path('large_box_middle.jpg')) repeat-y;
 padding: 7px 135px 7px 20px;
 }
 
.large_box_bottom{
 width: 784px;
 height: 10px;
 background: url(image-path('large_box_bottom.jpg')) no-repeat;
 }
 
.contact_for_quote{
 display: block;
 width: 149px;
 height: 149px;
 background: url(image-path('contact_for_quote.png')) no-repeat;
 position: absolute;
 right: -63px;
 top: -29px;
 }
 
.service{
 width: 418px;
 float: left;
 margin: 60px 52px 0 0;
 }
 
.services_no_margin{
 margin: 60px 0 0 0;
 }
 
.service img{
 float: left;
 }
 
.service_text{
 float: left;
 width: 330px;
 margin-left: 22px;
 }
 
.related_projects{
 display: block;
 width: 298px;
 height: 25px;
 background: url(image-path('related_projects_bg.jpg')) top no-repeat;
 padding: 8px 0 0 18px;
 }
 
.read_more{
 display: block;
 width: 233px;
 height: 25px;
 background: url(image-path('read_more_bg.jpg')) top no-repeat;
 padding: 8px 0 0 18px;
 }
 
.related_projects:hover{
 background: url(image-path('related_projects_bg.jpg')) bottom no-repeat;
 }
 
.read_more:hover{
 background: url(image-path('read_more_bg.jpg')) bottom no-repeat;
 }
 
.contact_box_top{
 width: 922px;
 height: 10px;
 background: url(image-path('contact_box_top.jpg')) no-repeat;
 }
 
.contact_box_middle{
 width: 852px;
 background: url(image-path('contact_box_middle.jpg')) repeat-y;
 padding: 0 35px 9px 35px;
 } 

.contact_box_bottom{
 width: 922px;
 height: 10px;
 background: url(image-path('contact_box_bottom.jpg')) no-repeat;
 }
 
.form_input, .form_textarea{
 margin-top: 8px;
 border:1px #E3E3E3 solid;
 overflow:hidden;
 margin-right:19px!important;
 }
 .comment_form .form_textarea{
 margin-right:0px!important; 
}
.form_input_blog{
 padding: 4px 0 36px 10px;
 }
.commentlist{
	border-top:1px #E5E5E5 solid;	 
}
.input_left{
 width: 14px;
 height: 33px;
 background: url(image-path('input_left.jpg')) no-repeat;
 float: left;
 }
 
.input_middle{
 width: 377px;
 height: 19px;
 background: url(image-path('input_middle.jpg')) repeat-x;
 float: left;
 border: none;
 padding: 7px 0 7px 0;
 }
 
.input_middle_comments{
 width: 245px;
 height: 19px;
 background: url(image-path('input_middle.jpg')) repeat-x;
 float: left;
 border: none;
 padding: 7px 0 7px 0;
 }
 
.input_middle_blog{
 width: 230px;
 height: 19px;
 background: url(image-path('input_middle.jpg')) repeat-x;
 float: left;
 border: none;
 padding: 7px 0 7px 0;
 }
 
.input_right{
 width: 13px;
 height: 33px;
 background: url(image-path('input_right.jpg')) no-repeat;
 float: left;
 }
 
.contact_form tr td{
 padding: 10px 0 0 0;
 }

div.odd{
 margin-right: 13px;
 }
 
.textarea_left{
 width: 14px;
 height: 175px;
 background: url(image-path('textarea_left.jpg')) no-repeat;
 float: left;
 }
 
.textarea_middle{
 width: 803px;
 height: 161px;
 background: url(image-path('textarea_middle.jpg')) repeat-x;
 float: left;
 border: none;
 padding: 7px 0 7px 0;
 }
 
.textarea_middle_comments{
 width: 385px;
 height: 161px;
 background: url(image-path('textarea_middle.jpg')) repeat-x;
 float: left;
 border: none;
 padding: 7px 0 7px 0;
 }
 
.textarea_right{
 width: 14px;
 height: 175px;
 background: url(image-path('textarea_right.jpg')) no-repeat;
 float: left;
 }
 
input.submit{
 width: 214px;
 height: 41px;
 background: url(image-path('submit_button.jpg')) no-repeat;
 border: none;
 margin: 14px 0 14px 0;
 }
 
input.submit_comment{
 width: 214px;
 height: 41px;
 background: url(image-path('submit_comment.jpg')) no-repeat;
 border: none;
 margin: 14px 0 0 0;
 }

.tabb{
 height:100%;
}

.tabbicos a{
 width:19px;
 height:20px;
 display:block;
 float:left;
 background-image: url(image-path('page.png'))
}

.tabbicos a.active{
 background-image: url(image-path('selected_page.png'))
}

.displaynone{
 display:none;
}

.blog_left{
 width: 552px;
 padding: 0 15px 0 15px;
 float: left;
 }
 
.blog_right{
 width: 280px;
 float: right;
 }
 
.blog_img{
 margin-bottom: 19px;
 }
 
.blog_entry{
 margin-bottom: 53px;
 } 
 
.blog_right h5, .blog_right .widget h3{
 margin: 7px 0 16px 18px;
 }
 
.newer_articles a{
 float: left;
 } 
 
.newer_articles a{
 display: block;
 width: 150px;
 height: 25px;
 background: url(image-path('newer_articles_bg.jpg')) top no-repeat;
 padding: 8px 0 0 0;
 margin-left: 0px;
 float: left;
 margin-right: 10px;
 text-align:right;
 }
 
.newer_articles a{
 padding-right: 20px;
 }
 
.newer_articles a:hover{
 background: url(image-path('newer_articles_bg.jpg')) bottom no-repeat;
 }
 
.older_articles a{
 display: block;
 width: 150px;
 height: 25px;
 background: url(image-path('older_articles_bg.jpg')) top no-repeat;
 padding: 8px 0 0 0;
 float: left;
 }
 
.older_articles a{
 padding-left: 20px;
 }
 
.older_articles a:hover{
 background: url(image-path('older_articles_bg.jpg')) bottom no-repeat;
 }
 
.other_articles{
 }
 
.tags a{
 display: block;
 vertical-align:bottom;
 line-height: 30px;
 }
 
.tags div, .widget_tag_cloud div {
 float: left;
 margin-right: 7px;
 margin-left: 20px;
 }
 
.blog_right .widget{
	margin-bottom:20px;
	overflow:hidden;
}
 
.archive, .blog_right .widget ul{
 margin-left: 19px;
 }
 
.add_a_comment{
 float: right;
 position: relative;
 top: 12px;
 }
 
.reply{  
 float: right;
 position: relative;
 top: -25px;
 }
 
.comments_title{
 float: left;
 }
 
.comment_entry{
 border-bottom: 1px solid #e5e5e5;
 background: #f7f7f7;
 padding: 15px 28px 3px 28px;
 }
 
.first_comment{
 border-top: 1px solid #e5e5e5;
 border-bottom: 1px solid #e5e5e5;
 background: #f7f7f7;
 padding: 15px 28px 3px 28px;   
 }
 
.comment_reply{
 padding: 15px 28px 3px 28px;  
 border-bottom: 1px solid #e5e5e5;
 }
 
.reply_icon{
 float: left;
 display: block;
 width: 23px;
 margin-right: 17px;
 }
 
.reply_text{
 display: block;
 float: left;
 width: 456px;
 }
.children li div.comment_entry{
 background: #ffffff url(image-path('reply_icon.jpg')) no-repeat 4% 8%!important;
 padding-left:60px;
}

.children .children li div.comment_entry{
 margin-left:60px;
}

.comment_entry .subtitle{
 margin-top: -9px;
 }
 
.add_comment_form {
 margin-top: 25px;
 }
 
.comment_form_top{
 width: 486px;
 height: 5px;
 background: url(image-path('comment_form_bg_top.jpg'))  no-repeat;
 }
 
.comment_form_middle{
 width: 416px;
 background: url(image-path('comment_form_bg_middle.jpg')) repeat-y;
 padding: 15px 35px 15px 35px;
 }
 
.comment_form_bottom{
 width: 486px;
 height: 5px;
 background: url(image-path('comment_form_bg_bottom.jpg'))  no-repeat;
 }
 
.comments_form_input{
 padding: 8px 0 0 0;
 }
 









 

 

 
 
 
 
 
 
 
 
 
 
  
 
 
 
 
 
 
 
 
  
 
 
 
 
 
 
 
 
  
 
 
 
 
 
 
 
 
  
 
 
 
 
 
 
 
 
  
 
 
 
 
 
 
 
 
 
