.top
  .centered
    %ul
      %li test
      %li test
      %li test
.main
  .centered
    =image_tag "kosmonaut.png", :class => "kosmonaut"
    .slogan 
      Test-drive Lolita 
      %br and take her into outer space...
