-# CSS: implied media="all"
= stylesheet_link_tag 'style', :media => 'all'
=# stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cabin+Sketch:bold'

-# Append your own using content_for :stylesheets
= yield :stylesheets
